{% extends 'base.html.twig' %} {% block title %}Sort Page{% endblock %} {% block
body %}
<div class="container row row-cols-3 g-2 mx-2 justify-content-evenly">
  {% for i in music %}
  <div class="card border-warning mb-2" style="max-width: 18rem">
    <div class="card">
      <img src="{{ i.img }}" class="card-img-top" alt="..." />
      <div class="card-header">{{ i.type }}</div>
      <div class="card-body text-warning">
        <h5 class="card-title">{{ i.name }}</h5>
      </div>
    </div>
  </div>
  <br />
  {% endfor %} {% for i in food %}
  <div class="card border-info mb-2" style="max-width: 18rem">
    <div class="card">
      <img src="{{ i.img }}" class="card-img-top" alt="..." />
      <div class="card-header">{{ i.type }}</div>
      <div class="card-body text-info">
        <h5 class="card-title">{{ i.name }}</h5>
      </div>
    </div>
  </div>
  <br />
  {% endfor %} {% for i in sport %}
  <div class="card border-danger mb-2" style="max-width: 18rem">
    <div class="card">
      <img src="{{ i.img }}" class="card-img-top" alt="..." />
      <div class="card-header">{{ i.type }}</div>
      <div class="card-body text-danger">
        <h5 class="card-title">{{ i.name }}</h5>
      </div>
    </div>
  </div>
  {% endfor %}
</div>

{% endblock %}
